*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-size: 14px;
  margin: auto;
  font-family: sans-serif;
}
body{
  width: 100%;
  min-height: 100vh;
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: center;  /*alinha os itens flex no centro*/
  background-color: rgb(243,243,243);

}
.instagram-main{
  display: flex;  /*elementos organizados em linha*/
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 61%;
  
}
.instagram-phone{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}
.instagram-phone img{
  width: 30rem;
}
.profile-photo{
  display: flex;
  border-radius: 50%;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}
.profile-photo img{
  width: 140px; 
  
}
.instagram-continue{
  display: flex;
  align-items: center;
  margin-left: 2rem;
  flex-direction: column;
  width: 50%;
  min-height: 10vh;
  
}
.group{
  border: 1px solid lightgrey;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.5rem;
  width: 90%;
  background-color: #ffffff;
}
.group:nth-child(1){
  min-height: 25rem;
}


.login{
background-color: #0095f6;
color: #ffff;
padding: 8px;
border-radius: 4px;
}
.remove{
  margin-top: 1rem;
  color: #0095f6;
 
}
.not-account{
  color: rgb(160,160,160);
}

.link-blue{
  color: #0095f6;
}
.get-the-app{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 2rem;
 
  
  
}
.download{
    margin-top: 0.6rem;
    display: flex;
    width: 90%;
    margin: 0.5rem;
    align-items: center;
   
  
}
.app-download{
  background-size: cover;
  height: 3.5rem;
  width: 11.7rem;
}
/*.app-download:nth-child(1){
  background-image: url('/images/btn_ggp.png');
}
.app-download:nth-child(2){
  background-image: url('/images/btn_app.png');
}*/

@media(max-width:800px){
  .instagram-phone{
    display: none;
  }
  .instagram-continue{
    width: 80%;
    margin: auto;
    
  }
  .group{
    background-color: transparent;
    border: none;
    
  }
  .download{
 
  }
}
@media(max-width:1315px){
  .download{
    margin: 5px;
    
  }
  .instagram-main{
    width: 70%;
  }
}
@media(max-width:1145px){
  .download{
    margin: 5px;
    
  }
  .instagram-main{
    width: 100%;
  }
  
}
@media(max-width:474px){
  .instagram-continue{
    width: 100%;
    margin: 0;
  }
  .download{
    flex-direction: column;
  
  }
  .app-download{
    margin: 5px;
  }
}